

  body {
background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
  }

  #block-score {
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
   
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }