
* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
}

.hide {
    display: none;
}
#countdown {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}


main section div .instructions {
    display: block;
    text-align: center;
    margin: auto;
    height: 50px;
    width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



ul, #check_answers, h1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
   }

li {
    margin: 10px;
}

#start-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
